# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.class

# Firebase — NE JAMAIS VERSIONNER
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Variables d'environnement — NE JAMAIS VERSIONNER
.env

# IDE
.idea/
.vscode/settings.json
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Tests
coverage/
# Crash logs
*.log
hs_err_pid*
replay_pid*

# Java heap dumps
*.hprof

# Android Studio
.idea/
.gradle/
build/